@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Playfair+Display:ital,wght@1,500&display=swap');

h1 {
display: flex;
justify-content: center;
color: green;
font-family: 'Playfair Display', 'Helvetica', sans-serif; 
} 

h2, p{
color: brown;
font-family: 'Lato', sans-serif;
}



nav {
    background-color: green;
   
}

li {
    list-style-type: none;
    display: inline-block; 
    

}

li:hover {
    color: yellow;
    opacity: 50%;
}

ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

footer {

    background-color: bisque;
}

div{
    display: flex;
    justify-content: center;
}